<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>
      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :image, 'Imagen', style: "display: block", class:'form-label' %>
    <%= form.text_field :image, class:'form-control w-50' %>
  </div>
  <div>
    <%= form.label :title, 'Titulo', style: "display: block", class:'form-label' %>
    <%= form.text_field :title, class:'form-control w-50' %>
  </div>
  <div>
    <%= form.label :description, 'Contenido', style: "display: block", class:'form-label' %>
    <%= form.text_area :description, class:'form-control w-75', rows: '7' %>
  </div>
  <div>
    <%= form.submit 'Aceptar', class: "btn btn-primary mt-2" %>
  </div>
<% end %>
