<p style="color: green"><%= notice %></p>
<%= render @report %>
<p>Commentarios</p>
<br>
<%- @report.comments.each do |comment|%>
  <%= comment.description%>
  <br>
<% end %>
<%= render "comments/form", comment: @comment%>
<div>
  <%= link_to "Edit this report", edit_report_path(@report) %> |
  <%= link_to "Back to reports", reports_path %>
  <%= button_to "Destroy this report", @report, method: :delete %>
</div>
